/*---------------------------------------------*/
bg-contact2 input {
	outline: none;
	border: none;
}

bg-contact2 textarea {
  outline: none;
  border: none;
}

bg-contact2 textarea:focus, 
bg-contact2 input:focus {
  border-color: transparent !important;
}

bg-contact2 input:focus::-webkit-input-placeholder { color:transparent; }
bg-contact2 input:focus:-moz-placeholder { color:transparent; }
bg-contact2 input:focus::-moz-placeholder { color:transparent; }
bg-contact2 input:focus:-ms-input-placeholder { color:transparent; }

bg-contact2 textarea:focus::-webkit-input-placeholder { color:transparent; }
bg-contact2 textarea:focus:-moz-placeholder { color:transparent; }
bg-contact2 textarea:focus::-moz-placeholder { color:transparent; }
bg-contact2 textarea:focus:-ms-input-placeholder { color:transparent; }

bg-contact2 input::-webkit-input-placeholder { color: transparent; }
bg-contact2 input:-moz-placeholder { color: transparent; }
bg-contact2 input::-moz-placeholder { color: transparent; }
bg-contact2 input:-ms-input-placeholder { color: transparent; }

bg-contact2 textarea::-webkit-input-placeholder { color: transparent; }
bg-contact2 textarea:-moz-placeholder { color: transparent; }
bg-contact2 textarea::-moz-placeholder { color: transparent; }
bg-contact2 textarea:-ms-input-placeholder { color: transparent; }

/*---------------------------------------------*/
bg-contact2 button {
	outline: none !important;
	border: none;
	background: transparent;
}

bg-contact2 button:hover {
	cursor: pointer;
}

bg-contact2 iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  /* width: 100%;  
  min-height: 100vh; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrap-contact2 {
  width: 790px;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
}

/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0 20px 0;
}

.input2 {
  display: block;
  width: 100%;
  
  color: white;
  line-height: 1.2;
  background-color: transparent;
  border-style: none;
}

.input2:focus,
.input2:active {
  border-style: none;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

.has-val.input2 {
  background-color: transparent;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #4bffa5;
  background: -webkit-linear-gradient(45deg, #4bffa5, #4bffa5);
  background: -o-linear-gradient(45deg, #4bffa5, #4bffa5);
  background: -moz-linear-gradient(45deg, #4bffa5, #4bffa5);
  background: linear-gradient(45deg, #4bffa5, #4bffa5);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 1.2;

  margin-top: -3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 0;
  left: -100%;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-size: 16px;
  line-height: 1.2;
}

form button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

form button:hover {
  transition: .6s;
  background-color: #4bffa5;
  border: 1px solid #4bffa5;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Input BG Color & Blue glow on input ]*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: transparent;
  border: 1px solid #4bffa5;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  color: #45ffa5;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #4bffa5;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}