body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', sans-serif;
  color: #505962;
}

.hidden {
  opacity: 0;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*============= NAVIGATION =============*/

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #4bffa5;
}

.navbar-brand img {
  height: 2rem;
}

.svg-inline--fa.fa-w-14 {
	color: white;
	font-size: 2rem;
}

.navbar-nav li {
  padding-right: .8rem;
}

.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #4bffa5;
}

.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}

.navbar-brand {
  color: #4bffa5;
}

/*============= LANDING PAGE =============*/

.home-inner {
  background: linear-gradient(
              rgba(30,30,30, .5), 
              rgba(30,30,30, .5)),
              url('../img/the-setup.jpg');
  
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 22%;
  z-index: 1;
}

.caption h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  letter-spacing: .2rem; 
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
  letter-spacing: .1rem;   
}

/*============= ARROW =============*/

.bounce { /*arrow bouncing duration*/
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 60px;
  height: 50px; /*change with size of arrow to make it sit on bottom of page*/
}
a.down-arrow {
  display: block;
  color: #fff; /*arrow color*/
}
.down-arrow svg.svg-inline--fa {
  opacity: .3; /*arrow opacity*/
  font-size: 2rem; /*arrow size*/
}
.down-arrow svg.svg-inline--fa:hover {
  opacity: .5; /*arrow hover opacity*/
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*============= FEATURES SECTION =============*/
.offset {
  background-color: #E9ECEF;
}

.intro {
  padding: 3rem 0;
}

.intro p {
  text-align: left;
}

.mission {
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

.mission a {
  text-decoration: none;
  border-bottom: 3px solid #4bffa5;
  color: inherit;
}

.mission a:hover {
  color: #4bffa5;
  text-decoration: none;
  cursor: pointer;
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1.1rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}

.btn-secondary {
  border: none;
  background-color: rgba(57, 63, 70, 0.85);
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: rgba(37, 41, 46, 0.85);
}

.btn-green {
  border: none;
  background-color: #4bffa5;
  color: rgba(37, 41, 46, 0.85);
}
.btn-green:hover,
.btn-green:focus {
  background-color: #45eb98;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  padding: 1rem 0 3rem;
  background-color: #E9ECEF;
}

h2.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .4rem;
  background-color: #4bffa5;
  margin: 0 auto 2rem;
}

.feature {
  text-align: center;
}

.feature .fa-layers {
  color: #4bffa5;
  margin: 0 auto;
  width: 3.9rem;
  height: 6rem;
}

.feature .fa-layers .fa-js-square {
  color: #4bffa5;
  margin: 0 auto;
  width: 3rem;
  height: 6rem;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

.feature p {
  font-size: 1.1rem;
}

/*===== FIXED BACKGROUND IMG DARK =====*/

.fixed {
  background-image: url('../img/resume.jpg');
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem 1rem;
  text-align: left;
  z-index: 1000!important;
}

.dark p {
  margin-bottom: 2rem;
}

.dark h2, .dark p {
  color: #E9ECEF;
}

.dark h3, .dark p {
  color: #E9ECEF;
  font-size: 1.4rem;
}

.view {
  display: none;
}

.modal-dialog {
  max-width: 90%;
}

/*============= PORTFOLIO SECTION =============*/

#portfolio {
  padding-bottom: 6.5rem;
  perspective: 700px;
  perspective-origin: 50% 100%;
  background-color: #E9ECEF;
}

.portfolio-item {
  transition: transform 1s cubic-bezier(.7,-0.39,.31,1.38); 
  transform-style: preserve-3d;
}  

.circle {
  position: absolute;
  top: 150px; 
  left: 50px;
}

.text {
  font-size: .9rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.row.padding {
  padding: 2rem 0 1rem;
}

.portfolio-item:hover {
  transform: rotateY(180deg);
}

svg,
.photo,
.backside {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
}

.backside {
  transform: rotateY(180deg);
}

.portfolio-item img,
.photo-description {
  border-radius: 4%;
}

.photo-description {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
  padding-right: 20px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
  align-items: center;
  background: rgba(57, 63, 70, 0.85);
}

.backside h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: .2em;
  margin-top: .85em;
  margin-bottom: .5em;
}

.backside p {
  letter-spacing: .05em;
  font-size: .875em;
  margin: 0 0 1.5em;
}

/*============= CONTACT SECTION =============*/

footer {
  background: url('../img/footer.png') no-repeat;
  background-size: cover;
  color: white;
}

footer .row {
  background-color: rgba(57, 63, 70, 0.85);
  padding: 1rem 2rem 1.5rem;
}

footer .row p {
  margin-bottom: 0;
}

footer .personal {
  padding-left: 30%;
  margin-top: 1.5rem;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.contact {
  padding-left: 1.75rem;
}

.contact-underline {
  width: 3rem;
  height: .4rem;
  background-color: #4bffa5;
  margin: 1rem 0 1rem 3.5rem;
}

footer a {
	color: white;
	text-decoration: none;
}

footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem 0.5rem 0 -3rem;
}

#email,
#git,
#linkedin {
  font-size: 2rem;
  margin: 0 .6rem .6rem .6rem;
}

footer svg.svg-inline--fa:hover {
  color: #4bffa5!important;
  transition: .6s;
}

.city {
  margin-left: .6rem;
}

footer h2 {
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;   
}

footer h3 {
  text-transform: uppercase;
  margin: 1.5rem 0;
  font-size: 1.3rem;  
}

footer ul {
	margin: 0rem;
	font-size: 1rem;
	letter-spacing: .1rem;
	list-style-type: none;
	text-decoration: none;
	width: auto;
	height: auto;
	display: block;
}

footer li {
	text-decoration: none;
	font-size: 1rem;
	letter-spacing: .1rem;
}

/*============= CONTACT FORM =============*/

/*============= CSS LINKED IN FORM.CSS =============*/



hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}

/*============= TOP SCROLL =============*/



.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}

a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}

a.top-scroll:hover {
  opacity: .5;
}

footer .row p {
	font-family: Roboto Slab;
	letter-spacing: 0.075rem;
}

#contact-form .controls .btn.btn-outline-light.btn-sm.os-animation {
	letter-spacing: 0.075rem;
	margin-bottom: 3rem;
}



/*============= MEDIA QUERIES =============*/
/* Devices over 576px (sm) */
@media (min-width: 576px) {
  .narrow {
    width: 85%;
  }

  footer .personal {
    padding-left: 37%;
  }
}

/* Devices over 768px (md) */
@media (min-width: 768px) {
  .caption {
    top: 17%;
  }

  .caption h1 {
    font-size: 4rem;
    letter-spacing: .15rem;
  }

  .caption h3 {
    font-size: 3.3rem;
  }

  .btn-lg {
    padding: .7rem 1rem;
    font-size: 1rem;
    letter-spacing: .2rem;
  } 

  .narrow h1 {
    font-size: 1.8rem;
  }

  .dark {
    padding: 6rem 4rem;
  }

  footer .personal {
    padding-left: 5%;
  }

  .text {
    font-size: 1rem;
  }

  .modal-dialog {
    max-width: 80%;
  }
}

/* Devices over 992px (lg) */
@media (min-width: 992px) {
  .navbar {
    background: none;
  }
  
  .caption {
    top: 12%;
  }

  .caption h1 {
    font-size: 5rem;
    letter-spacing: .2rem;
  }

 .caption h3 {
    font-size: 4.5rem;
  }

 .narrow h1 {
    font-size: 2.1rem;
  }

  .view {
    display: inline;
  }

  footer .personal {
    padding-left: 10%;
    
  }
}

/* Devices over 1200px (xl) */
@media (min-width: 1200px) {
    #portfolio {
    padding-bottom: 6.5rem;
  }

  #portfolio .container-fluid {
    width: 95%;
  }

  .modal-dialog {
    max-width: 57%;
  }
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
